.custom-tabs .nav-link {
    background-color: #f9f9f9; 
    color: #5a3e2b;
    border: 1px solid #ddd;
    margin-right: 5px; 
    font-weight: bold; 
}

.custom-tabs .nav-link.active {
    background-color: #c69f89; 
    color: #fff; 
}

.custom-tabs .nav-link:hover {
    background-color: #e0c3a8; 
    color: #5a3e2b; 
}

