.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee; 
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.btn{
    font-weight: bold;
    font-size: 18px; 


}

.btn-primary {
    background-color: #c69f89; 
    color: #ffffff; 
    border: none;
    border-radius: 8px; 
    font-size: 18px; 
    font-weight: bold;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #a87e6a; 
}

.bg-primary {
    background-color: #c69f89 !important; 
    color: #ffffff !important;
    text-align: center; 
    border-radius: 8px 8px 0 0; 
    padding: 15px;
}

body {
    background:#f0e0d8;
    color: #331a00;
    margin: 0;
    padding: 0;
}

form label {
    font-weight: bold;
    color: #5a3e2b;

}

card text{
    color: #5a3e2b;
    font-weight: bold;
}